---

- name: Check Elasticsearch is ready
  asb_save_test_result:
    fail: true
    msg: "Elasticsearch doesn't seem to be ready"
  when:
    - es_sts.status.readyReplicas != cluster_size
    - travis is undefined
  vars:
    es_sts: '{{ lookup("k8s", kind="StatefulSet", api_version="apps/v1", resource_name=application_name, namespace=namespace) }}'

- name: Fetch endpoint from service
  set_fact:
    test_es_uri: 'http://{{ es_service.spec.clusterIP }}:{{ es_service.spec.ports.0.port}}'
  vars:
    es_service: '{{ lookup("k8s", kind="Service", api_version="v1", resource_name=application_name, namespace=namespace) }}'

- name: Check Elasticsearch cluster has all the nodes discovered
  uri:
    url: '{{ test_es_uri }}/_cluster/health'
    method: GET
    status_code: 200
    return_content: yes
  register: es_health
  retries: 10
  delay: 5
  until:
    - es_health.status == 200
    - es_health.json.status == 'green'

- asb_save_test_result:
    fail: true
    msg: "ES is not healthy"
  when:
    - es_health.json.status != 'green'
    - travis is not defined

- asb_save_test_result:
    fail: true
    msg: "ES cluster does not have the desired size"
  when:
    - es_health.json.number_of_nodes != cluster_size
    - travis is not defined
