apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: {{ APPLICATION_NAME }}
  annotations:
    image.openshift.io/triggers: |
      [{
      "from": {
        "kind": "ImageStreamTag",
        "name": "{{ APPLICATION_NAME }}:{{ elasticsearch_version }}"
        },
        "fieldPath": "spec.template.spec.containers[?(@.name==\"elasticsearch\")].image"
      }]
spec:
  serviceName: {{ APPLICATION_NAME }}
  replicas: {{ CLUSTER_SIZE }}
  selector:
    matchLabels:
      app: {{ APPLICATION_NAME }}
  template:
    metadata:
      labels:
        app: {{ APPLICATION_NAME }}
    spec:
      serviceAccountName: {{ APPLICATION_NAME }}
      containers:
      - name: elasticsearch
        env:
        - name: SERVICE
          value: {{ APPLICATION_NAME }}-cluster
        - name: LOG_LEVEL
          value: info
        - name: INSTANCE_RAM
          value: {{ ES_MEMORY_LIMIT }}
        image: ' '
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            memory: {{ ES_MEMORY_LIMIT }}
          requests:
            memory: {{ ES_MEMORY_LIMIT }}
        ports:
        - containerPort: 9200
          name: api
        - containerPort: 9300
          name: cluster
        volumeMounts:
        - name: elasticsearch-persistent
          mountPath: /elasticsearch/persistent
        - name: elasticsearch-config
          mountPath: /usr/share/elasticsearch/config
      volumes:
      - configMap:
          defaultMode: 420
          name: {{ APPLICATION_NAME }}
        name: elasticsearch-config
{% if _apb_plan_id == 'ephemeral' %}
      - emptyDir: {}
        name: elasticsearch-persistent
{% else %}
  volumeClaimTemplates:
  - metadata:
      name: elasticsearch-persistent
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: {{ ES_PVC_SIZE }}
{% endif %}
